<h1> <%=@employee.full_name%> </h1>

<img src= <%= @employee.img_url %>><br>
Alias: <%= @employee.alias %><br>
Title: <%= @employee.title %><br>
Office: <%= @employee.office %><br>
Dog Name: <%= @employee.dog.name %><br>

<br>
<%=link_to "Edit Form", edit_employee_path(@employee)%>
