<h1>Employee Show Page</h1>
<label>Name:</label>
<p><%=@employee.to_s%></p>
<br>
<label>Photo:</label>
<img src="<%=@employee.img_url%>">
<br>
<label>Alias:</label>
<p><%=@employee.alias%></p>
<br>
<label>Title:</label>
<p><%=@employee.title%></p>
<br>
<label>Office:</label>
<p><%=@employee.office%></p>
<br>
<label>Dog:</label>
<p><%=@employee.dog.name%></p>
<br> 