Name: <h4><%= @employee.first_name + " " + @employee.last_name%></h4>
Alias: <h4><%= @employee.alias%></h4>
Title: <h4><%= @employee.title%></h4>
Office: <h4><%= @employee.office%></h4>
Image: <h4><img src= <%= @employee.img_url%> alt="Employee Picture" width="70" height="85"> </h4>